html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit; 
  font-family: "PT Sans", sans-serif;
}

.container {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: column;
  background: #F6F6F6;

  .task-input {
    padding: 10px;
    height: 50px;
    font-size: 16px;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  .kanban-board {
    flex: 1;
    display: flex;
    flex-direction: row;

    .category {
      flex: 1;
      margin: 10px;
      padding: 10px;

      h2 {
        margin: 0; padding: 0;
        font-size: 16px;
        text-transform: uppercase;
      }

      span {
        font-size: 14px;
        color: #AAA;
      }

      ul {
        margin: 10px 0; padding: 0;
        list-style: none;

        li {
          font-size: 14px;
          margin-bottom: 10px;
          padding: 15px 40px 15px 15px;
          background: #FFF;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          border-radius: 3px;
          cursor: move;
          position: relative;

          .btn-delete {
              display: block;
              background: #e74c3c;
              color: #FFF;
              width: 22px; height: 22px;
              border: none;
              border-radius: 11px;
              position: absolute;
              top: 50%; right: 10px;
              margin-top: -11px;
              opacity: 0.05;
              cursor: pointer;
              transition: 0.5s opacity;
              font-size: 25px;
              line-height: 24px;
              text-indent: -3px;
              transform: rotateZ(45deg);

              &:hover {
                  opacity: 1;
              }
          }
        }
      }

      &.ongoing li {
        border-left: 5px solid #f39c12;
      }

      &.todo li {
        border-left: 5px solid #e74c3c;
      }

      &.done li {
        border-left: 5px solid #2ecc71;
      }
    }
  }
}

.container.dark {
    background: #1d1f21;

    .task-input {
        background: #292c2f;
        color: #FAFAFA;
    }

    .kanban-board {
        .category {
            h2 {
                color: #7e848d;
            }

            ul li {
                background: #35393c;
                color: #e8e8e8;
            }
        }
    }
}
